<html>
<h1> You should be redirected by now... if not click <a href="https://discordapp.com/api/oauth2/authorize?client_id=550613223733329920&redirect_uri=https%3A%2F%2Freactionroles.com%2Fauth%2Fcode&response_type=code&scope=identify%20email%20guilds">HERE</a></h1>

<script>
    document.location.href = "https://discordapp.com/api/oauth2/authorize?client_id=550613223733329920&redirect_uri=https%3A%2F%2Freactionroles.com%2Fauth%2Fcode&response_type=code&scope=identify%20email%20guilds"

</script>

</htmL>